.pixel-blast-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

}

.pixel-blast-container canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.pixel-blast-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}